scipy==1.9.3
matplotlib==3.6.2
seaborn==0.12.1
svgutils==0.3.4
pandas==1.5.2
pytest==7.2.0
pytest-cov==4.0.0
biopython==1.80
scikit-learn==1.2.0
numpy==1.23.5
jupyter==1.0.0
astropy==5.2
logomaker==0.8
svgutils==0.3.4
statsmodels==0.13.5
git+https://github.com/biothings/mygene.py.git@master
